.title {
  position:absolute;
  z-index:5001;
  background-color:#fff;
  padding: 3px 8px 3px 8px;
  border: 1px solid #000;
  pointer-events: none;
}

.overlay {
  position:absolute;
  z-index:5000;
  pointer-events: none;
}

.fade {
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 5000ms;
}

.fadeout {
  opacity: 0;
}
